*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* Welcome Section */
.lr-item{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    padding-top: 2%;
}
.lr-item h1{
    font-size: 80px;
    text-transform: capitalize;
    margin: 20px 0;
}
.lr-item h3{
    font-size: 30px;
    text-transform: capitalize;
    margin: 30px 0;
}
.lr-item p{
    font-size: 17px;
    text-transform: capitalize;
    padding: 20px 0;
}
.lr-item .btn{
    padding: 10px 20px;
    background-color: orangered;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    transition: 0.5s;
    border-radius: 10px;
}
.lr-item .btn:hover{
    background-color: transparent;
    border: 2px solid orangered;
    color: orangered;

}
.orange-text{
    color: orange;
}
.lr-item img{
    width: 100%;
}